
.main {
    margin-top: 75px;
}

.google {
    width: 300px;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

 .enter{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
