.twit {
    border: 1px solid #cfd9de;
    background: white;
    border-radius: 30px;
    font-weight: bold;
    color: #0f1419;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px; 
   
}